.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      .chat-side__side-header__box__name name
      %ul.chat-side__side-header__box__icon 
        %li.chat-side__side-header__box__icon__left
          = link_to "#", class: "chat-side__side-header__box__icon__btn" do
            %i.far.fa-edit
        %li.chat-side__side-header__box__icon__right
          = link_to "#", class: "chat-side__side-header__box__icon__btn 2" do
            %i.fas.fa-cog
  .chat-side__group
    .chat-side__group__box
      .chat-side__group__box__name group-name
      .chat-side__group__box__message nomassage
    .chat-side__group__box
      .chat-side__group__box__name group-name
      .chat-side__group__box__message nomassage
            

       
